<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cad_atividade.css' %}">
    <title>Programação Web Back End</title>
</head>
<header class="login">
    <div class="fundo_menu">

        <div class="nome_sistema">
            Sistema de Apoio aos Professores
        </div>

    </div>
</header>

<nav class="menu">
    <ul>

        <li id="nome_logado"> Turma logada:<a href=""> {{turma_logado}}  | </a></li>
        <li><a href="../accounts/logout">SAIR</a></li>

    </ul>
</nav>

<body>
    <div class="principal">
    <div class="container">
        <section class="enquadramento">
            <h1> Cadastro de Atividades</h1>
        </section>

         {% if messages %}
            <ul class="mensagem_do_servidor" style="background: #7d7f81; padding: 24px; text-align:center; color: #fff;">
                {% for mensagem in messages %}
                   <li style="list-style: none;" {% if mensagem.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{mensagem}}</li>
                {% endfor %}
            </ul>
         {% endif %}

        <form id="form" class="form" method="POST" action="{% url 'salvar_atividade_nova' turma.id %}">{% csrf_token %}

                <div class="form-content">

                    <input type="hidden"  name="id_turma" id="id_logado"  value="{{id_turma}}" />
                    <input type="text" id="nome_atividade" name="nome_atividade" value="" placeholder="Digite o nome da atividade" />
                    <a>Nome deve ter no mínimo 3 caracteres</a>
                </div>

                <div class="botoes">
                    <div class="botao_confirmar">
                        <button type="submit" class="btn_conf_cancel btn_confirmar">Cadastrar</button>
                    </div>
                </div>
        </form>

    </div>
    </div>

<script>
    localStorage.clear()
    const value_id_logado = localStorage.getItem('escola_id_logado');
    const value_nome_logado = localStorage.getItem('escola_nome_logado');
    let id_logado = document.getElementById("id_logado").value

    if (value_id_logado == null) {

        //let id_logado = document.getElementById("id_logado").value
        let nome_logado = document.getElementById("nome_logado").value

        localStorage.setItem('escola_id_logado', id_logado)
        localStorage.setItem('escola_nome_logado', nome_logado)

    }
    else
    {
        console.log(value_id_logado, id_logado)
      if (value_id_logado == null || value_id_logado != id_logado) {
        
          window.alert('Você não está logado. Faça o Login antes de continuar.');
          window.location.href='../';
      }
      else{

        document.getElementById("id_logado").value = value_id_logado ;
        document.getElementById("nome_logado").value = value_nome_logado ;
      }
    }
</script>

</body>

</html>
</body>
</html>